## 4.6.3 Import merged data
## 4.6.4 Check DF shape
## 4.6.5 Merge DFs (products and orders)
## 4.6.6 Merge check
## 4.6.7 Export data as pickle

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

## 4.6.3 Import merged data

In [4]:
# import data
path = r'C:\Users\darii\Documents\10-2023 Instacart Basket Analysis'
df_orders_products_combined=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## 4.6.4 Check DF shape

In [6]:
# data check
df_orders_products_combined.shape

(32434489, 11)

In [8]:
# --> same size

## 4.6.5 Merge DFs (products and orders)

In [9]:
# import product data set
df_products=pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'))

In [10]:
# finding the key --> view both tables' headers
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [24]:
# renaming _merge column (so the new one can be created while new merging) check
df_orders_products_combined.rename(columns={'_merge':'merge check 1'}, inplace=False)

MemoryError: Unable to allocate 1.93 GiB for an array with shape (8, 32434489) and data type int64

In [22]:
# renaming _merge column 
df_orders_products_combined.rename(columns={'_merge':'merge check 1'}, inplace=True)

In [17]:
df_orders_products_combined.shape

(32434489, 11)

In [11]:
df_products.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [16]:
df_products.shape

(49672, 5)

In [12]:
del df_products['Unnamed: 0']

In [13]:
df_products.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [14]:
# --> product_id is the key for the merge

In [15]:
# from the text in this exercise: "For your Instacart project, youâ€™ll only be working with data sets that have a full merge rate"

In [23]:
#merging both data sets
df_orders_products_merged = df_products.merge(df_orders_products_combined, on = 'product_id', indicator = True)

In [25]:
# size check
df_orders_products_merged.shape

(32404859, 16)

In [28]:
# different size based on inner join

In [26]:
# output check
df_orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,add_to_cart_order,reordered,merge check 1,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,both

## 4.6.6 Merge check

In [27]:
# merge check
df_orders_products_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## 4.6.7 Export data as pickle

In [29]:
# exporting the data
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))