## 4.9.1.6 Merging data sets

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# import data
path = r'C:\Users\darii\Documents\10-2023 Instacart Basket Analysis'
customers=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customers_4.9.1_cleaned.pkl'))

In [3]:
orders_products_merged=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_4.9.1_cleaned.pkl'))

In [4]:
# merging data sets
ords_prods_custs = orders_products_merged.merge(customers, on=['user_id'], indicator=True)

In [5]:
ords_prods_custs.head(3)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,name,surname,gender,state,age,date_joined,n_dependants,status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620,both
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,Charles,Cox,Male,Minnesota,81,2019-08-01,1,married,49620,both

In [7]:
ords_prods_custs.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_custs.pkl'))